/***************/
/** UTILITIES **/
/***************/

// These have to be at the top of the scope because of the mixins

@mixin grid-5-col-4-row {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-column-gap: 2rem;
   grid-row-gap: 1rem;
   align-items: center;
   justify-items: center;
   height: auto;
   padding: 3rem;
   margin: 3rem;
   border: 1px solid black;
}

@mixin grid-3-col-2-row {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 2rem;
   grid-row-gap: 1rem;
   align-items: center;
   justify-items: center;
   height: auto;
   padding: 3rem;
   margin: 3rem;
   border: 1px solid black;
}

@mixin grid-3-col-1-row {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 2rem;
   grid-row-gap: 1rem;
   align-items: center;
   justify-items: center;
   height: auto;
   padding: 3rem;
   margin: 3rem;
   border: 1px solid black;
}

@mixin grid-3-row-1-column {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}


/*****************/
/** VUE CLASSES **/
/*****************/

.backgroundLightBlue {
   background-color: #f0f8ff;

   header, section, footer {
      background-color: #fff;
   }

}

.backgroundBlue {
   background-color: #192B3C;
}

.headerDark {
   background-color: #47586b;
   color: #fff;
}

.navLight {
   background-color: #fff;

   ul li a {
      background-color: #fff;

      &:link {
         color: #000;
      }
      
      &:visited {
         color: #000;
      }

   }
}

.navDark {
   background-color: #47586b;

   ul li a {
      background-color: #47586b;

      &:link {
         color: #fff;
      }
      
      &:visited {
         color: #fff;
      }

   }
}

.sectionDark {
   background-color: #47586b;
   color: #fff;

   div {
      background-color: #fff;
      color: #000;
   }
}

/*****************/
/* MAIN SECTIONS */
/*****************/

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Karla", sans-serif;
}

button {
   cursor: pointer;
   padding: 10px;
   font-size: 2vh;
   color: #fff;
}

// Entire body overflow is hidden, we set the scroll for the content with 'overflow-y'
body {
   overflow: hidden;
}

header {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 5rem;
   border: 1px solid black;
   margin-bottom: 4rem;
   font-weight: 900;
   font-size: 2rem;
   text-align: center;
   margin: 2rem 3rem 3rem 3rem;
}

// Main parent content, two columns for the whole page
.grid-2-col {
   display: grid;
   height: 100vh;
   width: 100vw;
   grid-template-columns: 0.12fr 1fr;
   grid-template-rows: 1fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;

   .dark-mode {
      margin-top: 2rem;
   }
   
   // Nevigation bar (left column)
   nav {
      @include grid-3-row-1-column;

      grid-template-rows: .1fr 1fr .1fr;
      border: 1px solid black;
      border-top: none;
      border-bottom: none;
      align-items: center;
      justify-items: center;

      ul {
         list-style: none;
         line-height: 8vh;
         font-size: 2vh;

         li {
            background-color: #fff;

            a {
               display: block;
               padding: 0.5rem 1rem;
               text-decoration: none;

               :link {
                  color: black;
               }

               :visited {
                  color: black;
               }
            }
         }
      }
   }

   // Primary content (right column)
   main {
      overflow-y: scroll;
   }
}

.section-1 {
   @include grid-5-col-4-row;

   * {
      padding: 1rem;
      margin: 0.5rem;
   }

   .div1 {
      grid-area: 1 / 2 / 2 / 3;
      border: 1px solid black;
      width: 6rem;
      text-align: center;
   }

   .div2 {
      grid-area: 2 / 2 / 3 / 3;
      border: 1px solid black;
      width: 6rem;
      text-align: center;
   }

   .div3 {
      grid-area: 2 / 3 / 3 / 4;
      border: 1px solid black;
      width: 6rem;
      text-align: center;
   }

   .div4 {
      grid-area: 3 / 3 / 4 / 4;
      border: 1px solid black;
      width: 6rem;
      text-align: center;
   }

   .div5 {
      grid-area: 3 / 4 / 4 / 5;
      border: 1px solid black;
      width: 6rem;
      text-align: center;
   }

   .div6 {
      grid-area: 4 / 4 / 5 / 5;
      border: 1px solid black;
      width: 6rem;
      text-align: center;
   }
}

.section-2 {
   @include grid-3-col-1-row;
}

.section-3 {
   @include grid-3-col-2-row;
}

footer {
   display: grid;
   align-items: center;
   justify-items: center;
   border: 1px solid black;
   padding: 3rem;
   margin: 3rem;
}
